<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <staticContent>
        <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>  
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 06b005f1-5a21-457d-8aef-65d76c0e3d8b-->