
---
import { TypedHeader, TypedSubHeader } from './custom/TypedHeader.jsx';
---


<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 overflow-hidden h-[90px]"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        <TypedHeader client:load/>
      </span>
    </h1>
    <p class="text-2xl pb-4">
      <TypedSubHeader client:load/>
    </p>
  </div>
  <div>
    <p class="mb-5">
      Hey! My name is Rob, and I'm a student and software engineer, currently studying at <a href="https://brown.edu">Brown University</a>, 
      where I'll receive both an M.S. Computer Science and B.S. Mathematics-Computer Science in May 2024. 
    </p>
    <p class="mb-5">
      My interests in computer science are multifacited: I'm most passionate about computing performance, optimization, parallelism, and algorithms,
      but I'm also fascinated by how this applies to deep learning and big data pipelines. 
    </p>
    <p class="mb-5"> 
      I've been developing software since I was in <a href="/projects/my-first-application">middle school</a>, and have been loving it ever since. 
      Even though I started with writing simple database applications to serve various traditional business needs, 
      I've expanded my skillset and interests to performance-driven computation using cutting-edge algorithms, hardware, and ideas.
    </p>
    <p class="mb-5">
      Recently, I've worked as an intern at <a href="https://www.aboutamazon.com/news/tag/robotics">Amazon Robotics</a> on the sensor team working on low-level embedded software
      on NVIDIA Jetson compute devices, and have previously worked at <a href="https://rtr.ai/">Realtime Robotics</a> on the Appliance/Control Panel team.
    </p>
    <p class="mb-5">
      At Brown, I've been a teaching assistant for <a href="http://www.cs.brown.edu/courses/csci1951-a/">Data Science</a>, as well as a head teaching assistant (HTA) for <a href="http://www.cs.brown.edu/courses/csci1570/">Design and Analysis of Algorithms</a>
      and <a href="	http://www.cs.brown.edu/courses/csci1470/">Deep Learning</a>. I also (briefly) performed research in the theory of planar graphs under <a href="https://cs.brown.edu/people/pklein/">Professor Philip Klein</a>.
    </p>
    <p class="mb-5">
      I also act as the Lead Software Engineer at <a href="https://www.adktech.com", target="_blank">Adirondack Technologies, Inc</a>,
      where I have developed several custom full-stack business applications for businesses in Queensbury, NY area (my hometown). 
    </p>
  </div>
  <div>
    <p class="mb-5">
      If you're interested, you can check out some of the <a href="/projects">projects</a> 
      that I've been a part of, or if you want some hot takes on all things related to computer science (or whatever), 
      check out my <a href="/musings">musings</a>. 
    </p>
  </div>
</section>
