@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideInFromLeft {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.slideInFromBottom{
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
}