@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(1000%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideInFromRight {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.slideInFromBottom{
  animation: 2s ease-out 0s 1 slideInFromBottom;
}